<% layout("/layouts/boilerplate") %>

<body>
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <form action="/login" method="post" novalidate class="needs-validation">
        <h3 class="mt-3 mb-3">Log In</h3>
        <div class="mb-3">
          <label for="username" class="form-label">Username: </label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Enter your username" required>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Username should be valid!</div>
        </div>
        <div class="mb-3">
          <label for="password" class="form-label">Password: </label>
          <input type="password" class="form-control" id="password" name="password" placeholder="Enter your password" required>
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Password should not be empty!</div>
        </div>
        <button class="btn btn-dark add-btn mb-3 w-100">Log In</button>
      </form>  
    </div>
  </div>
</body>